force-app/main/default/flows/BankServiceAccountDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AccountCreation</name>
        <label>AccountCreation</label>
        <locationX>389</locationX>
        <locationY>190</locationY>
        <actionName>BankService.addAccount</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountType</name>
            <value>
                <elementReference>AccountType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BankService.addAccount</nameSegment>
        <outputParameters>
            <assignToReference>AccountRec</assignToReference>
            <name>201</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AccExcep</assignToReference>
            <name>400Exc</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>getAcc</name>
        <label>getAcc</label>
        <locationX>691</locationX>
        <locationY>112</locationY>
        <actionName>BankService.getAccount</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>AccountOutput</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Account_Details</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BankService.getAccount</nameSegment>
        <outputParameters>
            <assignToReference>AccountRec</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AccExcep</assignToReference>
            <name>400Exc</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <interviewLabel>BankServiceAccountDetails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BankServiceAccountDetails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Account</name>
        <label>Account</label>
        <locationX>525</locationX>
        <locationY>102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAcc</targetReference>
        </connector>
        <fields>
            <name>Account_Details</name>
            <dataType>String</dataType>
            <fieldText>Account Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AccountOutput</name>
        <label>AccountOutput</label>
        <locationX>826</locationX>
        <locationY>117</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Accoutput</name>
            <fieldText>&lt;p&gt;{!AccountRec.id}&lt;/p&gt;&lt;p&gt;{!AccountRec.name}&lt;/p&gt;&lt;p&gt;{!AccountRec.z0type}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!AccExcep.errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Accounts</name>
        <label>Accounts</label>
        <locationX>222</locationX>
        <locationY>235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AccountCreation</targetReference>
        </connector>
        <fields>
            <name>AccountName</name>
            <dataType>String</dataType>
            <fieldText>AccountName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AccountType</name>
            <dataType>String</dataType>
            <fieldText>AccountType</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>33</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccExcep</name>
        <apexClass>ExternalService__BankService_errorModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountRec</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
