force-app/main/default/flows/ContactDataTable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <interviewLabel>ContactDataTable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactDataTable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getContacts</name>
        <label>getContacts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisplayContactRecords</targetReference>
        </connector>
        <object>Contact</object>
        <outputReference>geContactRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Email</queriedFields>
        <sortField>AccountId</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>DisplayContactRecords</name>
        <label>DisplayContactRecords</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ContactDataTable</name>
            <extensionName>c:lwcDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contact</name>
                <value>
                    <elementReference>geContactRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <elementReference>ContactDataTable.columns</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getContacts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>checking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Test</stringValue>
        </value>
    </variables>
    <variables>
        <name>geContactRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
