force-app/main/default/flows/ContactFIleUpload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>LoopAssignment</name>
        <label>LoopAssignment</label>
        <locationX>970</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>varFileTitleResultsRow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextTemplateFileInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLoop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ContactFIleUpload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactFIleUpload</label>
    <loops>
        <name>DocumentLoop</name>
        <label>DocumentLoop</label>
        <locationX>834</locationX>
        <locationY>214</locationY>
        <collectionReference>GetFiles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetContentDocumentIdInfo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Files</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>ContactRecord</name>
        <label>ContactRecord</label>
        <locationX>375</locationX>
        <locationY>219</locationY>
        <assignRecordIdToReference>varContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>GetContentDocumentIdInfo</name>
        <label>GetContentDocumentIdInfo</label>
        <locationX>964</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentLoop.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFiles</name>
        <label>GetFiles</label>
        <locationX>648</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DocumentLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ContactText</name>
        <label>Contact Name</label>
        <locationX>199</locationX>
        <locationY>227</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ContactRecord</targetReference>
        </connector>
        <fields>
            <name>ContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Files</name>
        <label>Display Files</label>
        <locationX>836</locationX>
        <locationY>375</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactFileDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;PT Sans&amp;quot;, sans-serif; color: rgb(119, 119, 119);&quot;&gt;Here is the information you created:&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;PT Sans&amp;quot;, sans-serif; color: rgb(119, 119, 119);&quot;&gt;First Name:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;PT Sans&amp;quot;, sans-serif; color: rgb(119, 119, 119);&quot;&gt;&amp;nbsp;{!ContactName.firstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Last Name:&lt;/b&gt;&amp;nbsp;{!ContactName.lastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;PT Sans&amp;quot;, sans-serif; color: rgb(119, 119, 119);&quot;&gt;Uploaded Files:&amp;nbsp;&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;PT Sans&amp;quot;, sans-serif; color: rgb(119, 119, 119);&quot;&gt;{!varFileTitleResultsRow}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>533</locationX>
        <locationY>214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetFiles</targetReference>
        </connector>
        <fields>
            <name>FileUploadText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;PT Sans&amp;quot;, sans-serif; color: rgb(119, 119, 119);&quot;&gt;Upload any associated files for the contact and click&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;PT Sans&amp;quot;, sans-serif; color: rgb(119, 119, 119);&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;PT Sans&amp;quot;, sans-serif; color: rgb(119, 119, 119);&quot;&gt;. If you do not have files to upload just click&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;PT Sans&amp;quot;, sans-serif; color: rgb(119, 119, 119);&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;PT Sans&amp;quot;, sans-serif; color: rgb(119, 119, 119);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUploadComponent</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varContactID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ContactText</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>TextTemplateFileInfo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!GetContentDocumentIdInfo.Title}.{!GetContentDocumentIdInfo.FileExtension}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFileTitleResultsRow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
