force-app/main/default/flows/petStore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getOrders</name>
        <label>getOrders</label>
        <locationX>494</locationX>
        <locationY>279</locationY>
        <actionName>OrderManagement.getOrder</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orderNumber</name>
            <value>
                <elementReference>OrderId1</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderManagement.getOrder</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <constants>
        <name>getst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Available</stringValue>
        </value>
    </constants>
    <interviewLabel>petStore {!$Flow.CurrentDateTime}</interviewLabel>
    <label>petStore</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>OrderDetails</name>
        <label>OrderDetails</label>
        <locationX>197</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getOrders</targetReference>
        </connector>
        <fields>
            <name>OrderId1</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>2</stringValue>
            </defaultValue>
            <fieldText>OrderId</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>OrderDetails</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>addingPet</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;id&quot;: 100,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;category&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&quot;id&quot;: 0,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&quot;name&quot;: &quot;string&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;name&quot;: &quot;doggie100&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;photoUrls&quot;: [&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&quot;string&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;],&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;tags&quot;: [&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;id&quot;: 100,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;name&quot;: &quot;string&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;],&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;status&quot;: &quot;available&quot;&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>addPet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{   &quot;id&quot;: 100,   &quot;category&quot;: {     &quot;id&quot;: 0,     &quot;name&quot;: &quot;string&quot;   },   &quot;name&quot;: &quot;doggie1001&quot;,   &quot;photoUrls&quot;: [     &quot;string&quot;   ],   &quot;tags&quot;: [     {       &quot;id&quot;: 1001,       &quot;name&quot;: &quot;string&quot;     }   ],   &quot;status&quot;: &quot;available&quot; }</stringValue>
        </value>
    </variables>
    <variables>
        <name>addPet1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{   &quot;id&quot;: 100,   &quot;category&quot;: {     &quot;id&quot;: 0,     &quot;name&quot;: &quot;string&quot;   },   &quot;name&quot;: &quot;doggie100&quot;,   &quot;photoUrls&quot;: [     &quot;string&quot;   ],   &quot;tags&quot;: [     {       &quot;id&quot;: 100,       &quot;name&quot;: &quot;string&quot;     }   ],   &quot;status&quot;: &quot;available&quot; }</stringValue>
        </value>
    </variables>
    <variables>
        <name>gettingOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>petStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>avialable</stringValue>
        </value>
    </variables>
</Flow>
